django
pymysql
python-environ
django-rest-framework
django-ckeditor==6.1.0
djangorestframework-jwt==1.11.0
python-dateutil==2.8.2
pillow
markdown
django-crontab
django-db-logger

background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
