{% include "admin-includes/header.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab d-flex position-relative">
                            <div class="profile-personal-info w-100">
                                <h4 class="text-primary mb-4">Transaction Information</h4>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Id <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>{{transaction.id}}</span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Transaction Id <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>{{transaction.transaction_id}}</span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Amount <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>${{transaction.amount}}</span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Currency <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span style="text-transform: uppercase;">{{transaction.currency}}</span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Payment Status <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9">
                                        {% if transaction.payment_status == 1 %}
                                            <span class="badge badge-success">Success</span>
                                        {% else %}
                                            <span class="badge badge-danger">Failed</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Type <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9">
                                        {% if transaction.type_id == 1 %}
                                            <span class="badge badge-secondary">Membership</span>
                                        {% else %}
                                            <span class="badge badge-info">Team Claimed</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Created On <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>
                                        <script>
                                            var d = ConvertGTime("{{ transaction.created_on|date:'Y-m-d' }}", "{{ transaction.created_on|time:'H:i' }}");
                                            document.write(d);
                                        </script>
                                    </span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Payer <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>
                                        <a href="{% url 'accounts:view_user' transaction.created_by.id %}">{{transaction.created_by.full_name}}</a></span>
                                    </div>
                                </div>
                                <div class="row mb-3 mb-sm-2">
                                    <div class="col-12 col-sm-4 col-lg-3">
                                        <h5 class="f-w-500">Reciept URL <span class="d-none d-sm-block float-sm-right">:</span>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-sm-8 col-lg-9"><span>
                                        <a href="{{transaction.receipt_url}}">{{transaction.receipt_url}}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% include "admin-includes/footer.html" %}