/* Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* Common CSS */

:root {
    --primary-color: #f1ca3f;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    background-position: center;
}


.page-wrapper {
    flex: 1 1 auto;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.error {
    color: var(--primary-color);
}

dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    text-align: left;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 0;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    text-align: center;
    color: #f8c506;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label::before {
    color: #ffffff;
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-size: 13px;
    line-height: 1.4;
    background: #f8c506;
    border-color: #f8c506;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn {
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    font-weight: 600;
    -o-border-radius: 4px;
}

.btn-link {
    background: transparent;
    color: var(--primary-color);
    border-color: transparent;
    text-decoration: none !important;
    transition: 0.15s border-color ease-in-out;
}

.btn-link:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-bordered {
    background: transparent;
    color: var(--primary-color);
    transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
}

.btn-bordered:hover {
    background: var(--primary-color);
    color: #fff;
}

.btn-theme:hover {
    background-color: #151e32;
    color: #fff;
    border-color: transparent;
}

.btn.btn-lg {
    padding: 12px 25px;
    font-size: 1.25rem;
}

.btn-theme-alt {
    background: #efbe05;
}

.btn-theme-alt:hover {
    background-color: #151e32;
    color: #fff;
    border-color: transparent;
}

.btn.btn-theme-light {
    background-color: #d0faef;
    color: var(--primary-color);
    border-color: #d0faef;
}

.btn.btn-theme-light:hover {
    color: #FFF;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.automotive-header-transparent {
    top: 0;
    width: 100%;
    position: absolute;
    background: transparent;
    z-index: 9;
}

.automotive-header-transparent.fixed {
    -webkit-animation: headerSlideDown .95s ease forwards;
    animation: headerSlideDown .95s ease forwards;
}

@-webkit-keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    to {
        margin-top: 0;
    }
}

@keyframes headerSlideDown {
    0% {
        margin-top: -100px;
    }

    to {
        margin-top: 0;
    }
}
.section-ptb {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    z-index: 1;
    padding: 20px 0;
}


.social-link li {
    display: inline-block;
    margin: 0 7px;
}

.social-link li a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    color: #076aff;
    font-size: 21px;
    line-height: 46px;
    transition: .3s;
}

.social-link li a:hover {
    background-color: cornflowerblue;
    color: #fff;
}

.social-link li a:hover i {

    color: #fff;
}

.inner-page.page-body .social-link li a {
    color: #f1ca3f;
    line-height: 44px;
    border: 1px solid #f1ca3f;
}

.footer-bottom p, .footer-bottom a {
    font-size: 14px;
    color: #fff !important;
    font-weight: 600;
    margin: 0;
}

.footer-bottom {
    padding: 10px 0;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    z-index: 1;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1080px;
    }
}

@media (max-width: 1499.98px) {
    .section-heading h3 {
        font-size: 38px;
    }
}

@media (max-width: 1199.98px) {

    .footer-cta .call-to-action-inner h3 {
        font-size: 30px;
    }
}


@media (max-width: 767.98px) {
    .section-ptb {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .btn.btn-lg {
        padding: 12px 25px;
        font-size: 1rem;
    }

}
