{% include 'frontend/includes/header.html' %} 
{% load static %}
<!-- Style Css -->
<link rel="stylesheet" href="{% static 'frontend-asset/css/pages-css/join.css' %}" />
<!--Home Banner Section-->

<section class="about-section section-ptb pb-0">
    <div class="container">
        <div class="about-wrapper text-center">
            <h1>JOIN</h1>
            <div class="text-wrap">
                <p>{% if content %}{{content.content|safe}}{% else %}No Data Found{% endif %}</p>
            </div>
        </div>
    </div>
</section>

{% include 'frontend/includes/footer.html' %}
