{% include 'signup/includes/header-signup.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'frontend-asset/css/pages-css/step.css' %}" />
<div class="signup-page step-page">
    <div class="container">
        <form action="{% url 'users:thankyou' %}" method="POST">
            {% csrf_token %}
        <div class="thankyou-wrapper form-wrapper text-center">
            <input type="hidden" value="{{user.id}}" name="user">
            <h1>Thank You!</h1>
            <p>We appreciate your support of our softball community! Please check your email for more information about
                your purchase. Questions? Email us at <b style="font-weight: 700">info@thesourcesports.com</b></p>
            <div class="button-wrap">
                <button type="submit" class="btn btn-theme secondary-btn w-100">View Your Profile</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% include 'frontend/includes/footer.html' %}